@model Lanche

<div class="card mb-3" style="width: 20rem;">
    <img src="@Model.ImagemUrl" class="card-img-top img-fluid" alt="@Model.DescricaoCurta"/>
    <div class="card-body">
        <h5>@Model.Nome</h5>
        <p class="card-text">@Model.DescricaoCurta</p>
        <a class="btn btn-outline-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-LancheId="@Model.LancheId">
            Incluir no Carrinho
        </a>
    </div>
</div>