@model ReflectionIT.Mvc.Paging.PagingList<LanchesMVC.Models.Lanche>

@{
    ViewData["Title"] = "Lanches";
}

<h1>Lanches(Total cadastrado: @Model.TotalRecordCount)</h1>

<form method="get" class="form-inline">
    <div class="row">
        <div class="col-9">
            <input name="filter" class="form-control" placeholder="Digite o nome para pesquisa....." value="@Model.RouteValue["Filter"]" />
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-outline-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true">Procurar</span>
            </button>
        </div>
        <div class="col-2">
            <a type="button" class="btn btn-outline-success" asp-action="Create">+ Novo lanche</a>
        </div>
    </div>
</form>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLanchePreferido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLanchePreferido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descricao)
            </td>
            <td>
                <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.LancheId">Editar</a>
                <a type="button" class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.LancheId">Detalhes</a>
                <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.LancheId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>